---
import Floor from "../components/Floor.astro";

import Layout from "../layouts/Layout.astro";

---

<Layout pageTitle="Charlotte Franciska | Portfolio">
  <div
    class=" px-4.5 md:px-14 lg:px-28 pt-28 2xl:pt-128 pb-64 flex flex-col items-center"
  >
    <section
      id="wholeHouse"
      class="w-full bg-cover bg-center object-cover bg-no-repeat"
    >
      <img src="./images/roof2.svg" alt="" />
      <section
        id="floors"
        class="bg-indigo-100 px-2.5 lg:px-5 w-full grid gap-2.5 lg:gap-5 py-2.5 lg:py-5"
      >
        <Floor floorStyle="stairsR" bg1="roomL" bg2="stairR" />
        <Floor floorStyle="fullFloor" bg1="fullF" bg2="room2" />
        <Floor floorStyle="twoRooms" bg1="room505" bg2="room506" />
        <Floor floorStyle="stairsR" bg1="roomL" bg2="stairR" />
        <Floor floorStyle="fullFloor" bg1="fullF" bg2="room2" />
        <Floor floorStyle="stairsL" bg1="stairL" bg2="roomR" />
      </section>
    </section>
  </div>
</Layout>

<!-- 2xl:max-w-260 md:max-w-200 -->
