---
import Floor from "../components/Floor.astro";

import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div
    class="px-4.5 md:px-32 xl:px-64 2xl:px-86 pt-128 pb-64 flex flex-col items-center"
  >
    <section
      id="roof"
      class="w-full bg-cover bg-center object-cover bg-no-repeat"
    >
      <svg
        id="roof"
        class="fill-indigo-800"
        xmlns="http://www.w3.org/2000/svg"
        width="inherit"
        height="inherit"
        viewBox="0 0 954 400"
        fill="none"
      >
        <path d="M477 0L954 400H0L477 0Z"></path>
      </svg>

      <main
        id="floors"
        class="bg-indigo-100 px-2.5 lg:px-5 w-full grid gap-2.5 lg:gap-5 py-2.5 lg:py-5"
      >
        <Floor floorStyle="stairsR" bg1="room1" bg2="room2" />
        <Floor floorStyle="fullFloor" bg1="room4" bg2="room2" />
        <Floor floorStyle="twoRooms" bg1="room3" bg2="room5" />
        <Floor floorStyle="stairsR" bg1="room1" bg2="room2" />
        <Floor floorStyle="fullFloor" bg1="room3" bg2="room2" />
        <Floor floorStyle="stairsL" bg1="room2" bg2="room1" />
      </main>
    </section>
  </div>
</Layout>

<!-- 2xl:max-w-260 md:max-w-200 -->
