---
import Floor from "../components/Floor.astro";

import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="px-32 pt-128 pb-64 flex flex-col items-center">
    <section
      id="roof"
      class="w-full max-w-280 bg-cover bg-center object-cover bg-no-repeat"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="inherit"
        height="inherit"
        viewBox="0 0 954 400"
        fill="none"
      >
        <path
          d="M477 0C954 0 954 400 954 400H0C0 400 4.07756e-05 0 477 0Z"
          fill="#2D3577"></path>
      </svg>
    </section>
    <main
      id="floors"
      class="bg-indigo-100 px-5 w-full max-w-280 grid gap-5 py-5"
    >
      <Floor floorStyle="stairsR" bg1="room1" bg2="room2" />
      <Floor floorStyle="fullFloor" bg1="room4" bg2="room2" />
      <Floor floorStyle="twoRooms" bg1="room3" bg2="room5" />
      <Floor floorStyle="stairsR" bg1="room1" bg2="room2" />
      <Floor floorStyle="fullFloor" bg1="room3" bg2="room2" />
      <Floor floorStyle="stairsR" bg1="room1" bg2="room2" />
    </main>
  </div>
</Layout>
