---
import Case from "../components/Case.astro";

import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h1 class="text-3xl font-bold underline absolute top-1/2 pl-44">Hello!</h1>
  <img class="aspect-video" src="./images/a.jpg" alt="" />

  <div class="w-8 h-8 bg-primary"></div>
  <div class="w-8 h-8 bg-secondary"></div>
  <!-- <Case titel="Hell yeah" img="https://picsum.photos/id/237/175/175" />
  <Case titel="Oh yeah bby" img="https://picsum.photos/id/123/175/175" />
  <Case titel="Yeeeehaa honey" img="https://picsum.photos/id/111/175/175" /> -->
</Layout>
