---
import Layout from "../layouts/Layout.astro";
import cases from "../cases.json"
import CaseLink from "../components/CaseLink.astro"
const {title, imgFolder, link, bgColor} = Astro.props; 
---

<Layout>

  <main class="grid grid-cols-5">

    <div id="casesTitles" class="col-span-2 p-4 flex flex-col justify-end">
        <h1 class="font-mono  font-bold text-indigo-700/75">Projects</h1>
        <ul class=" grid gap-4.5">
          {
            cases.map((project) => (
               <CaseLink 
                  title={project.title} slug={project.slug}/>
                ))
          }
     
       </ul>
    </div>
    <div id="showCase" class=`col-span-3  w-full h-screen bg-[#e17d7f]  flex flex-col justify-center items-center`>
      <img src=`./images/twinPeaks/room.svg` alt="" class="w-3/4 aspect-18/9 ">
    </div>

  </main>
</Layout>
