---
import Layout from "../layouts/Layout.astro";
import cases from "../cases.json"
import CaseLink from "../components/CaseLink.astro"
const {title, imgFolder, link, bgColor} = Astro.props; 
---

<Layout>

  <main class="grid grid-cols-5  ">

    <div id="casesTitles" class="col-span-2 p-4 flex flex-col justify-end">
        <h1>Projects</h1>
        <ul>
          {
cases.map((project) => (
  <CaseLink 
  title={project.title} slug={project.slug}></CaseLink>
))
          }
     
       </ul>
    </div>
    <div id="showCase" class=`col-span-3  w-full h-screen bg-[${bgColor}] bg-amber-200 flex flex-col justify-center`>
      <img src=`./images/twinPeaks/room.svg` alt="" class="w-full aspect-18/9 bg-white ">
    </div>

  </main>
</Layout>
