---
const { floorStyle, bg1, bg2 } = Astro.props;
---

<section>
  <div
    id="rooms"
    class="w-full h-full bg-indigo-100 grid lg:grid-cols-18 gap-2.5 lg:gap-5"
  >
    <div id="room1" class=`${floorStyle}  overflow-hidden`>
      <img
        src=`./images/${bg1}.svg`
        alt=""
        class="object-cover w-full h-full"
      />
    </div>
    <div id="room2" class=`${floorStyle} `>
      <img
        src=`./images/${bg2}.svg`
        alt=""
        class="object-cover w-full h-full"
      />
    </div>
  </div>
</section>

<style>
  #room2.fullFloor {
    display: none;
  }
  @media (width >= 1024px) {
    #room1.fullFloor {
      grid-column: span 18;
      aspect-ratio: 18/9;
    }

    #room1.twoRooms {
      grid-column: span 9;
    }

    #room2.twoRooms {
      grid-column: span 9;
    }

    #room1.stairsL {
      grid-column: span 6;
    }

    #room2.stairsL {
      grid-column: span 12;
    }

    #room1.stairsR {
      grid-column: span 12;
    }

    #room2.stairsR {
      grid-column: span 6;
    }
  }
</style>
