---
import Logo from "./Logo.astro";
import NavigationAside from "./NavigationAside.astro";
---

<div class="hidden md:flex p-4  flex-col justify-between fixed top-0 z-50 h-full">
  <a href="/"><Logo /></a>
  <NavigationAside />
</div>
