---
import Logo from "./Logo.astro";
import Navigation from "./Navigation.astro";
---

<div class="p-4 bg-indigo-200 flex justify-between">
  <a href="/"><Logo /></a>
  Header
  <Navigation />
</div>
