---
import Nav_link from "./Nav_link.astro";
---

<nav class="">
  <ul class="flex flex-col gap-4">
    <Nav_link titel="Work" link="/work" />
    <Nav_link titel="About" link="/about" />
    <Nav_link titel="Contact" link="/contact" />
  </ul>
</nav>
