---
import Nav_link from "./Nav_link.astro";
---

<nav class="bg-indigo-400/75">
  <ul class="flex gap-4">
    <Nav_link titel="Work" link="/work" />
    <Nav_link titel="About" link="/about" />
    <Nav_link titel="Contact" link="/contact" />
  </ul>
</nav>
