---
import cases from "../cases.json"; // Adjust path as needed
const currentPath = Astro.url.pathname;
const pageData = cases.find((item) => currentPath.includes(item.slug));
const textColor = pageData?.textColor || "#1d1d1d"; // Default to black if not found
---

<nav class="flex flex-col gap-4">
  <a
    style={pageData ? `color: ${textColor};` : ""}
    class="navPunkt text-primary font-medium text-lg 2xl:text-xl"
    href="/work">Work</a
  >
  <a
    style={pageData ? `color: ${textColor};` : ""}
    class="navPunkt text-primary font-medium text-lg 2xl:text-xl"
    href="/about">About</a
  >
  <a
    style={pageData ? `color: ${textColor};` : ""}
    class="navPunkt text-primary font-medium text-lg 2xl:text-xl"
    href="/contact">Contact</a
  >
</nav>

<style>
  .navPunkt {
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
  .navPunkt:hover {
    opacity: 1;
  }

  .navPunkt.active {
    opacity: 1;
  }
</style>

<script is:inline lang="ts">
  document.addEventListener("DOMContentLoaded", async () => {
    const navLinks = document.querySelectorAll("nav a");
    const currentPath = window.location.pathname;

    // Hvis URL'en indeholder "/projects" eller er "index.html", gør alle links aktive
    if (currentPath === "/") {
      navLinks.forEach((link) => link.classList.add("active"));
      return; // Stop yderligere behandling
    }

    navLinks.forEach((link) => {
      if (link.getAttribute("href") === currentPath) {
        link.classList.add("active");
      } else {
        link.classList.remove("active");
      }
    });
  });
</script>
