---
import "../styles/global.css";
import Header from "../components/Header.astro";
import HeaderAside from "../components/HeaderAside.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>Charlotte Franciska Portfolio</title>
  </head>
  <body class="bg-amber-50 relative justify-items-center">
    <!-- <Header /> -->
    <HeaderAside />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<script></script>
